<%- include('blocks/header', {bot, user, path}) %>
<div class="container">
  <div class="jumbotron">
    <div>
    <style>
    .flex-item {
      display: flex;
      align-items: center;
  }
  .flex-item img{
      flex-grow:0;
      flex-shrink:0;
  }
</style>
      <% if (user) { %>
        <h1>Hello, <%= user.username %></h1>
        <div class="flex-item">
        <p><a class="btn btn-primary" href="/dashboard" role="button">Dashboard »</a></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p><a class="btn btn-primary" href="/me" role="button">Profile »</a></p>
        <% if (crmAccess) { %>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p><a class="btn btn-primary" href="/crm" role="button">CRM »</a></p>
        <% } %>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p><a class="btn btn-primary" href="/logout" role="button">Logout »</a></p>  
        </div>
      <% } else { %>
        <h1><%= bot.user.username %> Dashboard</h1>
        <p><a class="btn btn-primary" href="/login" role="button">Login »</a></p>
      <% } %>
    </div>
  </div>
<% include ./blocks/footer %>